/* HEADER */

header{
    height: 6em;
    background-color:black;
    display:flex;
}

.navContainer{
    /*background-color:green;*/
    width:33%;
    display:flex;
    align-items: center;
}

.navBar{
    /*background-color:blueviolet;*/
    width:100%;
    text-align: center;
}

.navItems{
    color: white;
    padding-left:2em;
    text-decoration: none;
    font-size:1.3rem;
    font-family: 'Uchen', serif;
    transition: 0.4s;
}

.navItems:hover{
    color:#bbbbbb;
}

.logo{
    /*background-color:red;*/
    width:34%;
    text-align:center;
}

.logo img{
    width:21%;
}

.businessBar{
    /*background-color:yellow;*/
    width:33%;
    display:flex;
    align-items: center;
}

.businessBarItems{
    /*background-color:aqua;*/
    text-align: center;
}

#searchBar{
    background-color: rgb(0, 0, 0);
    border:1px solid white;
    border-radius: 20px;
    color:white;
    height:30px;
    transition: all 1s ease-out;
}

.noDisplay{
    display:none;
}

#magnifyingGlass{
    cursor:pointer;
}

.businessBarItems img{
    width:4%;
    padding-left:2em;
}

/* BODY */

.blackBox{
    background-color:black;
    width:100%;
    height:1400px;
}

.blocos{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-top:40px;
}

.bloco1{
    margin-left:250px;;
    background-image: url("../images/camisa.jpg");
    transition:1s;
    width:400px;
    height:550px;
}

.bloco2{
    background-image: url("../images/tenis.jpg");
    transition:1s;
    width:400px;
    height:550px;
}

.bloco3{
    margin-right:250px;;
    background-image: url("../images/acessorio.jpg");
    transition:1s;
    width:400px;
    height:550px;
}

.bloco:hover{
    transform: scale(1.2);
}

.emailSubmit{
    background-color: black;
    height:110px;
    text-align: center;
    padding-top:70px;
}

.emailSubmit p{
    color:white;
    font-size:2rem;
    padding-bottom: 20px;
    font-family: 'Uchen', serif;
}

.emailSubmit .caixaEmail{
    background-color: black;
    width:280px;
    height:25px;
    border:1px solid white;
}

.caixaEmail{
    color:white;
}

.submitButton{
    background-color: black;
    /*border:1px solid white;*/
    color: white;
    height:31px;
    border:1px solid white;
}

.submitButton:hover{
    background-color:white;
    color:black;
}

.aboutArea{
    /*background-color: purple;*/
    width:100%;
    height:500px;
    display:flex;
    justify-content: space-between;
}

.textBox{
    /*background-color: green;*/
    width:35%;
    height:100%;
    margin-left: 5%;
}

.aboutVideo{
    margin-top: 50px;
    margin-right: 5%;
}

.textBox h3{
    padding-top: 2em;
    font-family: 'Uchen', serif;
    color:white;
    font-size:3em;

}

.textBox p{
    font-family: 'Uchen', serif;
    color:white;
    font-size:1.5em;
    padding-top: 40px;
}

footer{
    height:80px;
    font-size:1.2em;
    color:white;
    background-color: black;
    /*border-top:1px solid white;*/
    display:flex;
    align-items: center;
    justify-content: center;
}

footer img{
    width:30px;
    margin-left:7px;
}

/* LOGIN PAGE */

.containerLogin{
    background-color: black;
    width:100%;
    height:900px;
    display:flex;
    align-items: center;
    justify-content: center;
}


.formLogin{
    background-color: black;
    width:60%;
    height:500px;

}

.formLogin h2{
    font-family: 'Uchen', serif;
    font-size:3em;
    margin-bottom: 0.5em;
    color:white;
}

.formLogin p{
    font-family: 'Uchen', serif;
    font-size: 1.3em;
    margin-left: 1em;
    color:white;
}

.formLogin input{
    margin-bottom: 1.2rem;
    margin-left: 1.6em;
    height:30px;
}

.formLogin a{
    text-decoration: none;
    color:rgb(180, 178, 178);
    transition: color 0.5s;
}

.formLogin a:hover{
    color:white;
}

.loginButton{
    background-color: black;
    color:white;
    width:6em;
    height:2.5em;
    font-family: 'Uchen', serif;
    font-size: 1em;
    cursor: pointer;
}

.loginButton:hover{
    background-color: white;
    color:black;
}

hr{
    width:95%;
    margin-bottom: 3%;
}

#areYouNew{
    font-size:1em;
    margin-left:5%;
}
